/************ Layout ************/

/** class -> .text-red {} **/
/** id -> #id-bilgisi {} **/

h1, h2, h3, h4, h5, h6 {
    color: red;
}

h1 {
    font-size: 30px;
    color: #202020;
}

p {font-size: 20px;}

#first-article {
    color:blue
}
#second-article {
    font-size: 40px;
}
.container { 
    width: 1400px;
    padding: 10px;
    margin: 5%;
    float: left;
}
.imgcontainer {
    width: 300px;
    height: 300px;
    float: left;
    margin: 125px 50px 50px 50px;  
    padding: 10px;


}